<ngx-loading-bar [color]="'red'" [height]="'4px'"></ngx-loading-bar>
<ng-container *ngIf="isLoggedIn$ | async; then loggedIn; else loggedOut">
</ng-container>
<!-- Logged In user with shared layout -->
<ng-template #loggedIn>
    <div class="wrapper">
        <div class="sidebar" data-color="white" data-active-color="danger">
            <sidebar-cmp></sidebar-cmp>
        </div>
        <div class="main-panel">
            <navbar-cmp></navbar-cmp>
            <div class="content">
                <my-alert></my-alert>
                <router-outlet></router-outlet>
            </div>
            <footer-cmp></footer-cmp>
        </div>
    </div>
</ng-template>
<!-- Logged out view -->
<ng-template #loggedOut>
    <my-alert></my-alert>
    <router-outlet></router-outlet>
</ng-template>