<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">Users</h4>
                <p class="category">Here is a list of active users</p>
            </div>
            <div class="content table-responsive table-full-width">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Dob</th>
                            <th>Salary</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of users;let i = index">
                            <td>{{ i+1 }}</td>
                            <td><img height="30px" width="30px"
                                    src='../../../assets/img/faces/{{ user.firstname | avatarpipe}}' />
                                {{ user.firstName }}</td>
                            <td>{{ user.lastName }}</td>
                            <td>{{ user.email | lowercase}}</td>
                            <td>{{ user.dateOfBirth | date:"dd-MM-yyyy"}}</td>
                            <td>{{ 96780 * (i+1) | currency }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>